<div class="awesome"></div>
<div style="border-top: 1px solid red">
  <label for="name">Enter your name: </label>
  <input type="text" id="name" />
</div>

const NewComponent = () => {
  return (
    <div>
      <div className="awesome"></div>
      <div style={{borderTop: '1px solid red'}}>
        <label htmlFor="name">Enter your name: </label>
        <input type="text" id="name" />
      </div>
    </div>
  );
};
